extends ../layout

block content
	h1.
		#{title}
	form#formAddBlob(name="addblob",method="post",action="/blobs")
		p Name:
			input#inputName(type="text",placeholder="ex. John Smith", name="name")
		p Badge:
			input#inputBadge(type="number",placeholder="ex. 123456", name="badge")
		p DOB:
			input#inputDob(type="date", name="dob")
		p Are you loved?:
			input#inputIsLoved(type="checkbox", name="isLoved")
		p
			button#btnSubmit(type="submit") submit
